.form-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 42px;
}

.form-item-wrap {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-right: 20px;
}

.form-item-wrap {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-right: 20px;
}

.form-wrap button {
    height: 45px;
    width: 15%;
    margin-top: 30px;
    font-size: 20px;
}

.form-wrap button::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    transform: translate(-15px, 3px);
    background: url(../../assets/images/users/confirm.png) no-repeat;
    background-size: 100%;
}

.form-item-wrap .iconImg {
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-self: center;
    margin-bottom: 8px;
    width: 100%;
}

.form-item-wrap .iconImg img {
    width: var(--iconWidth);
    height: var(--iconHeight);
    transform: translateY(6px);
}

.form-item-wrap .input-error-container {
    display: inline-block;
}

.form-item-wrap label {
    font-size: var(--iconFontSize);
    color: var(--iconFontColor);
    margin-left: 20px;
}

.form-wrap .form-item-wrap:nth-child(1) label{
    transform: translateX(-7px);
}
.form-item-wrap input {
    border: 1px solid var(--greyColor);
    border-radius: 4px;
    height: var(--lineHeight);
    width: 290px;
    line-height: var(--lineHeight);
    padding: 0 0 0 5px;
    background-image: linear-gradient(to right , #eee, #fff);
}

.form-item-wrap span {
    display: block;
    color: var(--errorColor);
    font-size: 12px;
    margin-top: 2px;
}

.form-item-wrap span::before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 12px;
    transform: translate(-1px, 2px);
    background: url(../../assets/images/users/error.png) no-repeat;
    background-size: 100%;
}

.tooltip-container input[type="submit"] {
    height: var(--lineHeight);
    width: 80px;
    line-height: var(--lineHeight);
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 4px;
    font-size: var(--middleFontSize);
    border: 0;
    cursor: pointer;
}

.red-border {
    border: solid 1px var(--errorColor) !important;
    background-image: linear-gradient(to right ,rgba(255, 0, 0, 0.1), transparent) !important;
}
