table,thead,tbody{
    display:block;
}

thead, tbody tr {
    display:table;
    width:100%;
}

.user-table {
    width: 100%;
    margin-top: var(--lineHeight);
    border-collapse: collapse;
    border-spacing: 0;
}

.user-table thead {
    background-image: linear-gradient(to right ,transparent,rgba(0,0,0,0.1),rgba(0,0,0,0.2),rgba(0,0,0,0.1),transparent) !important;
}

.user-table tbody {
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 30px;
}

.user-table tbody tr{
    background: transparent;
}

.user-table tbody tr:nth-child(2n){
    background-image: linear-gradient(to right ,transparent,rgba(0,0,0,0.1),rgba(0,0,0,0.1),rgba(0,0,0,0.1),transparent) !important;
}

.user-table td, .user-table th {
    text-align: center;
    font-size: var(--middleFontSize);
    color: var(--iconFontColor);
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-table th {
    color: var(--greyColor);
    font-weight: 400;
    padding: 5px 0;
}

.user-table td {
    padding: 6px 0;
}

.user-table td span {
    display: inline-block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
}

.user-table td button {
    height: 45px;
    width: 36%;
    height: auto;
}

.user-table td button span {
    font-size: 16px;
}

.user-table td button span::before {
    content: "\2297";
    display: inline-block;
    font-size: 25px;
    margin: 0px 10px 0 0;
    transform: translateY(2px);
}