.message-container {
    line-height: 1.5;
    text-align: center;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    z-index: 100000;
    width: 100%;
    top: 16px;
    left: 0;
    pointer-events: none;
}

.message {
    display: flex;
    align-items: center;
    width: 400px;
    padding: 10px 15px 10px 20px;
    position: fixed;
    left: 50%;
    /*top: 30px;*/
    margin-left: -200px;
    border-radius: 4px;
}

.message .tips::before {
    display: block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
    border-radius: 50%;
    margin-right: 10px;
    font-family: "microsoft yahei";
}

.message .text {
    font-size: 14px;
}

.message.error {
    background-color: #fef0f0;
}

.message.error .tips::before {
    background-color: #f56c6c;
    color: #fff;
    content: 'x';
}

.message.error .text {
    color: #f56c6c;
}

.message.success {
    background-color: #f0f9eb;
}

.message.success .tips::before {
    content: '√';
    background-color: #67c23a;
    color: #fff;
}

.message.success .text {
    color: #67c23a;
}